<!-- filepath: c:\Users\emili\Desktop\ENTREGABLE BACK - EMILIANO SILVA\src\views\layouts\main.handlebars -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  {{{body}}}
</body>
</html>